{% extends 'base.html' %}

{% block title %}
Nueva Consulta
{% endblock %}

{% block page_title %}
Registrar Consulta Médica
{% endblock %}

{% block content %}

<div class="card shadow border-0">

    <div class="card-body">

        <h2 class="fw-bold mb-4">

            Registrar Consulta

        </h2>

        <form method="POST">

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>
                        Fecha
                    </label>

                    <input
                        type="date"
                        name="fecha"
                        class="form-control"
                        required
                    >

                </div>

                <div class="col-md-6 mb-3">

                    <label>
                        Paciente
                    </label>

                    <select
                        name="id_paciente"
                        class="form-select"
                        required
                    >

                        <option value="">
                            Seleccionar paciente
                        </option>

                        {% for paciente in pacientes %}

                        <option
                            value="{{ paciente.id_paciente }}"
                        >

                            {{ paciente.nombre }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-6 mb-3">

                    <label>
                        Médico
                    </label>

                    <select
                        name="id_medico"
                        class="form-select"
                        required
                    >

                        <option value="">
                            Seleccionar médico
                        </option>

                        {% for medico in medicos %}

                        <option
                            value="{{ medico.id_medico }}"
                        >

                            {{ medico.nombre }}

                        </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-12 mb-3">

                    <label>
                        Diagnóstico
                    </label>

                    <textarea
                        name="diagnostico"
                        rows="3"
                        class="form-control"
                        required
                    ></textarea>

                </div>

                <div class="col-md-12 mb-3">

                    <label>
                        Tratamiento
                    </label>

                    <textarea
                        name="tratamiento"
                        rows="3"
                        class="form-control"
                        required
                    ></textarea>

                </div>

                <div class="col-md-12 mb-3">

                    <label>
                        Observaciones
                    </label>

                    <textarea
                        name="observaciones"
                        rows="3"
                        class="form-control"
                    ></textarea>

                </div>

            </div>

            <button
                class="btn btn-primary"
            >

                <i class="bi bi-save-fill"></i>

                Guardar Consulta

            </button>

            <a
                href="/consultas"
                class="btn btn-secondary"
            >

                Volver

            </a>

        </form>

    </div>

</div>

{% endblock %}